/* N A V  B A R  */
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

.logo{
    width: 50px;
    margin-top: 15px;    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-itens{
    padding-top: 10px;
    list-style: none;
    display: inline-block;
}
.navbar-itens li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-itens li a{
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.navbar-itens li a:hover{
    color: #ccc;
}

.default-btn{
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 5px;
    color: white;
}

.default-btn:hover{
    background-color: #1e9b50;
}

/*  M A I N  B A N N E R    */

.main-banner{
    background-image: url(../img/mainbanner.png);
    background-position: center;
    background-size: cover;
    padding: 10em 0;
    position: relative;
}
.main-banner h1{
    font-size: 58px;
}

.main-banner p{
    font-size: 33px;
}

.main-banner h1, .main-banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
}

/*  E S P E C I A L I D A D E S  */

.especialidades-container{
    padding: 5em 0;
}

.especialidades-container ul{
    display: flex;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.especialidades-container ul li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt{
    color: #2cc76a;
}

.fa-rocket{
    color: #ef3f29;
}

.fa-comments{
    color: #e78f29;
}

.especialidades-container ul li h3{
    margin-bottom: 25px;
}

.especialidades-container ul li p{
    line-height: 24px;
}

/* P R E Ç O S */